@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.google-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b1afaf;
  border-radius: 4px;
  margin-top: 2rem;
  padding: 5px;
  cursor: pointer;
  transition: 0.4s ease-in;
}

.google-button:hover {
  background-color: #efefef;
}
.google-button > img {
  width: 25px;
}

.google-btn {
  background-color: transparent;
  outline: none;
  border: none;
  margin-left: 10px;
}
